body {
  margin: 0;
}

@font-face {
  font-family: "headliner_no._45regular";
  src: url("headlinerno.45_demo.woff2") format("woff2"),
    url("headlinerno.45_demo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_tommythin";
  src: url("made_tommy_thin_personal_use-webfont.woff2") format("woff2"),
    url("made_tommy_thin_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vanilla whale";
  font-style: normal;
  font-weight: normal;
  src: local("vanilla whale"), url("vanilla whale.woff") format("woff");
}

@font-face {
  font-family: "Fantelina Mignati";
  font-style: normal;
  font-weight: normal;
  src: local("Fantelina Mignati"), url("Fantelina Mignati.woff") format("woff");
}
@font-face {
  font-family: "Fantelina Mignati Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Fantelina Mignati Italic"),
    url("Fantelina Mignati Italic.woff") format("woff");
}

#principal {
  position: absolute;
  background-color: transparent;
  color: black;
  z-index: 1000;
  right: 0;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.parts > a:link {
  text-decoration: none;
  font-family: "headliner_no._45regular";
}

.parts > a {
  color: #000;
}

.parts > a:hover {
  color: #1302fc;
}

.parts-text {
  font-size: 1.3em;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

@media only screen and (min-width: 400px) and (max-width: 1919px) {
  .parts-text {
    font-size: 2em;
  }
}

@media only screen and (min-width: 360px) and (max-height: 640px) {
  .parts-text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 3839px) {
  .parts-text {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 3840px) {
  .parts-text {
    font-size: 4em;
  }
}

.sticky {
  position: fixed !important;
}

.first-section {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(252, 192, 85, 1) 0%,
    rgba(253, 217, 29, 1) 73%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-avatar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .profile-avatar {
    height: 80%;
    flex-direction: column;
  }
}

.profile {
  font-family: "headliner_no._45regular";
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.name {
  font-size: 2em;
  margin-block-end: 2rem;
  margin-block-start: 0.5rem;
}

@media only screen and (min-width: 641px) and (min-height: 360px) and (max-height: 640px) {
  .name {
    font-size: 4em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1280px) {
  .name {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 641px) and (max-height: 1280px) {
  .name {
    font-size: 6em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) and (max-height: 1920px) {
  .name {
    font-size: 7em;
    margin-block-end: 3rem;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1281px) and (max-height: 1920px) {
  .name {
    font-size: 9em;
    margin-block-end: 3rem;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1921px) and (max-height: 3840px) {
  .name {
    font-size: 7em;
    margin-block-end: 4rem;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1921px) and (max-height: 3840px) {
  .name {
    font-size: 10em;
    margin-block-end: 5rem;
  }
}

@media only screen and (min-width: 641px) and (min-height: 3841px) {
  .name {
    font-size: 7em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 3841px) {
  .name {
    font-size: 11em;
    margin-block-end: 5rem;
  }
}

.description {
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

@media only screen and (min-width: 641px) and (min-height: 360px) and (max-height: 640px) {
  .description {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1280px) {
  .description {
    font-size: 3.5em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 641px) and (max-height: 1280px) {
  .description {
    font-size: 5.5em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) and (max-height: 1920px) {
  .description {
    font-size: 4.5em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1281px) and (max-height: 1920px) {
  .description {
    font-size: 6.5em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1921px) and (max-height: 3840px) {
  .description {
    font-size: 5.5em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1921px) and (max-height: 3840px) {
  .description {
    font-size: 7.5em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 3841px) {
  .description {
    font-size: 6.5em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 3841px) {
  .description {
    font-size: 8.5em;
  }
}

.avatar {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .avatar {
    width: 100%;
    flex-direction: row;
    margin-top: 0.2rem;
  }
}

@media only screen and (min-width: 640px) and (min-height: 361px) and (max-height: 640px) {
  .avatar {
    flex-direction: row;
  }
}

@media only screen and (min-width: 2000px) and (min-height: 641px) and (max-height: 1024px) {
  .avatar {
    flex-direction: row;
  }
}

.avatar-picture {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 641px) and (min-height: 1281px) {
  .avatar-picture {
    width: 100%;
  }
}

.img-avatar {
  width: 50%;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 640px) {
  .img-avatar {
    width: 100%;
  }
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1280px) {
  .img-avatar {
    width: 80%;
  }
}

@media only screen and (min-width: 2000px) and (min-height: 641px) and (max-height: 1280px) {
  .img-avatar {
    width: auto;
  }
}

@media only screen and (min-width: 360px) and (max-height: 640px) {
  .img-avatar {
    width: 60%;
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
}

@media only screen and (max-width: 640px) {
  .skills-container {
    width: 50%;
  }
}

@media only screen and (min-width: 641px) and (max-height: 640px) {
  .skills-container {
    width: 50%;
  }
}

.skills-title {
  font-family: "headliner_no._45regular";
  font-size: 1.5em;
  text-align: center;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media only screen and (min-width: 1537px) and (min-height: 641px) and (max-height: 1280px) {
  .skills-title {
    font-size: 3em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) and (max-height: 1920px) {
  .skills-title {
    font-size: 4em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1281px) and (max-height: 1920px) {
  .skills-title {
    font-size: 6em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1921px) and (max-height: 3840px) {
  .skills-title {
    font-size: 5em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 1921px) and (max-height: 3840px) {
  .skills-title {
    font-size: 7em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 3841px) {
  .skills-title {
    font-size: 6em;
  }
}

@media only screen and (min-width: 1537px) and (min-height: 3841px) {
  .skills-title {
    font-size: 8em;
  }
}

.skills {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 0.2rem;
  row-gap: 0.2rem;
  padding: 0.2rem;
}

@media only screen and (min-width: 641px) {
  .skills {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.img-avatar2 {
  width: 50%;
}

@media only screen and (min-width: 360px) and (max-height: 640px) {
  .img-avatar2 {
    width: 40%;
  }
}

@media only screen and (min-width: 641px) and (min-height: 360px) and (max-height: 640px) {
  .img-avatar2 {
    width: 80%;
  }
}

@media only screen and (min-width: 2000px) and (min-height: 1281px) and (max-height: 1920px) {
  .img-avatar2 {
    width: 40%;
  }
}

.second-section {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(15, 17, 70, 1) 0%,
    rgba(45, 238, 253, 1) 73%,
    rgba(255, 255, 255, 1) 100%
  );
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .second-section {
    flex-direction: column;
    height: max-content;
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .second-section {
    flex-direction: column;
    height: max-content;
  }
}

.third-part {
  width: 31%;
  min-height: calc(100vh - 4rem);
  aspect-ratio: 19.5/9;
  margin: 1em 0.5em;
  border-radius: 1em;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .third-part {
    width: 60vw;
    margin: 0 0.5em 2em 0.5em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .third-part > #left {
    width: 90vw;
    margin: 2 0.5em 2em 0.5em;
  }
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .third-part {
    width: 90vw;
    margin: 0 0.5em 2em 0.5em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .third-part > #left {
    width: 90vw;
    margin: 2 0.5em 2em 0.5em;
  }
}

.third-part:hover {
  transform: scale(1.02);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .third-part:hover {
    transform: scale(1.03);
  }
}

.web-links {
  text-decoration: none;
}

#left {
  position: relative;
}

#center {
  position: relative;
}

#right {
  position: relative;
}

.presentation {
  height: 40%;
}

#left > .presentation {
  align-items: flex-end;
}

#right > .presentation {
  align-items: flex-end;
}
#center > .presentation {
  align-items: flex-start;
}

.presentation-img {
  width: 100%;
  height: 100%;
}

#left > .presentation > .presentation-img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#right > .presentation > .presentation-img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#center > .presentation > .presentation-img {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.material {
  height: 60%;
  padding: 0.2em 0.2em;
  background-color: #fcc055;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 1920px) and (max-height: 1080px) {
  .material {
    justify-content: center;
  }
}

#left > .material {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#right > .material {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
#center > .material {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.material-header {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "headliner_no._45regular";
  font-size: 3.5em;
  color: #000;
}

@media only screen and (min-width: 200px) and (max-width: 480px) {
  .title {
    font-size: 2.7em;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 3em;
    text-align: center;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  .title {
    font-size: 4em;
    text-align: center;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .title {
    font-size: 5em;
    text-align: center;
  }
}

@media only screen and (min-width: 2560px) and (max-width: 3839px) {
  .title {
    font-size: 7em;
    text-align: center;
  }
}

@media only screen and (min-width: 3840px) {
  .title {
    font-size: 10em;
    text-align: center;
  }
}

.material-content {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 962px) and (max-width: 1919px) {
  .material-content {
    height: 100%;
    justify-content: space-evenly;
  }
}

.material-content-text {
  font-family: "made_tommythin";
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  text-align: center;
}

@media only screen and (min-width: 962px) and (max-width: 1279px) {
  .material-content-text {
    font-size: 1em;
    text-align: center;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1919px) {
  .material-content-text {
    font-size: 1.5em;
    text-align: center;
  }
}

@media only screen and (max-height: 768px) and (max-width: 1280px) {
  .material-content-text {
    font-size: 1.2em;
    text-align: center;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
  .material-content-text {
    font-size: 2em;
    text-align: center;
  }
}

@media only screen and (min-width: 2560px) and (max-width: 3839px) {
  .material-content-text {
    font-size: 2.5em;
    text-align: center;
  }
}

@media only screen and (min-width: 3840px) {
  .material-content-text {
    font-size: 3.5em;
    text-align: center;
  }
}

.material-content-tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .material-content-tools {
    height: 30%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .material-content-tools {
    height: 30%;
  }
}

.container-tools-img {
  width: 30%;
  display: flex;
  justify-content: center;
}

.tools-img {
  width: 70%;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.third-section {
  position: relative;
  background: linear-gradient(
    305deg,
    rgba(92, 36, 0, 1) 0%,
    rgba(226, 44, 2, 1) 47%,
    rgba(226, 190, 137, 1) 100%
  );
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 641px) and (min-height: 641px) {
  .third-section {
    padding: 0;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) {
  .third-section {
    min-height: calc(100vh - 5rem);
  }
}

.side-email-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 1536px) and (max-height: 641px) {
  .side-email-1 {
    width: 40%;
  }
}

@media only screen and (min-width: 641px) and (min-height: 641px) {
  .side-email-1 {
    justify-content: center;
    align-items: center;
  }
}

.img-social {
  width: 80%;
}

@media only screen and (min-width: 641px) and (max-height: 640px) {
  .img-social {
    width: 40%;
  }
}


@media only screen and (min-width: 900px) and (min-height: 641px) {
  .img-social {
    width: 50%;
  }
}

.img-social-container {
  display: flex;
  justify-content: center;
}

.contacto {
  width: 90%;
  background-image: url("/images/back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  transition: all 0.5s ease-in-out;
  box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
  padding: 1rem 0 1rem 0;
}

@media only screen and (min-width: 900px) and (max-height: 640px) {
  .contacto {
    width: 60%;
  }
}
@media only screen and (min-width: 1920px) and (max-height: 640px) {
  .contacto {
    width: 50%;
  }
}

@media only screen and (min-width: 641px) and (min-height: 641px) {
  .contacto {
    width: 80%;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 641px) {
  .contacto {
    width: 60%;
    min-height: 50vh;
  }
}

@media only screen and (min-width: 1920px) and (min-height: 641px) {
  .contacto {
    width: 50%;
    min-height: 50vh;
  }
}

.contacto:hover {
  box-shadow: 5em 5em 5em 0 rgba(15, 3, 3, 1);
  -moz-box-shadow: 5em 5em 5em 0 rgba(15, 3, 3, 1);
  -webkit-box-shadow: 5em 5em 5em 0 rgba(15, 3, 3, 1);
  -o-box-shadow: 5em 5em 5em 0 rgba(15, 3, 3, 1);
  -ms-box-shadow: 5em 5em 5em 0 rgba(15, 3, 3, 1);
  transform: scale(1.01);
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .contacto:hover {
    box-shadow: 2em 2em 2em 0 rgba(15, 3, 3, 1);
    -moz-box-shadow: 2em 2em 2em 0 rgba(15, 3, 3, 1);
    -webkit-box-shadow: 2em 2em 2em 0 rgba(15, 3, 3, 1);
    -o-box-shadow: 2em 2em 2em 0 rgba(15, 3, 3, 1);
    -ms-box-shadow: 2em 2em 2em 0 rgba(15, 3, 3, 1);
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .contacto:hover {
    box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
    -moz-box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
    -webkit-box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
    -o-box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
    -ms-box-shadow: 1em 1em 1em 0 rgba(15, 3, 3, 1);
    transform: scale(1.02);
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .contacto:hover {
    box-shadow: 0.5em 0.5em 0.5em 0 rgba(15, 3, 3, 1);
    -moz-box-shadow: 0.5em 0.5em 0.5em 0 rgba(15, 3, 3, 1);
    -webkit-box-shadow: 0.5em 0.5em 0.5em 0 rgba(15, 3, 3, 1);
    -o-box-shadow: 0.5em 0.5em 0.5em 0 rgba(15, 3, 3, 1);
    -ms-box-shadow: 0.5em 0.5em 0.5em 0 rgba(15, 3, 3, 1);
    transform: scale(1.02);
  }
}

#contact-form {
  width: 70%;
}

.contact100-form {
  text-align: center;
  width: 80%;
}

.contact-form-title {
  display: flex;
  justify-content: center;
}

.contact100-form-title {
  font-family: "vanilla whale";
  font-size: 2em; 
  color: #512906;
  margin-block-start: 0em;
  margin-block-end: 1rem;
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1280px) {
  .contact100-form-title {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) and (max-height: 1920px) {
  .contact100-form-title {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 1281px) and (max-height: 1920px) {
  .contact100-form-title {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1920px) {
  .contact100-form-title {
    font-size: 5rem;
  }
}

label {
  display: none;
}

.contact-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input,
textarea {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  outline: none;
  border: none;
  background-color: #fafae4;
  margin-bottom: 0.5rem;
  padding-left: 0.5em;
  padding-top: 0.1em;
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1280px) {
  input,
  textarea {
    padding: 1rem;
    font-size: 1em;
  }
}

@media only screen and (min-width: 641px) and (min-height: 1281px) {
  input,
  textarea {
    padding: 1rem;
    font-size: 2em;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 1920px) {
  input,
  textarea {
    padding: 1.5rem;
    font-size: 2.5em;
    margin-bottom: 1rem;
  }
}

input:hover {
  box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -moz-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -webkit-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -o-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -ms-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  background-color: #fff;
}

textarea:hover {
  box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -moz-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -webkit-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -o-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  -ms-box-shadow: 0.2em 0.2em 0.2em 0 rgba(15, 3, 3, 1);
  background-color: #fff;
}

.button-area {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 0.5em;
  outline: none;
  border: none;
  background: #eeeeee;
  padding: 0.2em;
  font-family: "vanilla whale";
  font-size: 1em;
  margin-top: 1rem;
}

@media only screen and (min-width: 641px) and (min-height: 641px) and (max-height: 1920px) {
  button {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1280px) and (min-height: 641px) and (max-height: 1920px) {
  button {
    font-size: 2.5rem;
  }
}

button:hover {
  cursor: pointer;
  background-color: #fcc055;
  transform: scale(1.1);
}

footer {
  position: relative;
  background-color: #fff;
  height: calc(5em - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}
